.user-signature img {
  max-width: calc(100% - 5px);
}

.signature-img {
  max-width: calc(100% - 5px);
}

.signature-preferences .d-editor {
  width: 100%;

  .d-editor-preview-wrapper {
    display: none;
  }

  .d-editor-textarea-wrapper {
    flex: 1;
  }
}

.signature-char-count {
  display: block;
  margin-top: 0.25em;
  font-size: var(--font-down-1);
  color: var(--primary-medium);
}

.signature-not-allowed {
  color: var(--primary-medium);
  font-style: italic;
}
