<div class='controls'>
    <label class='checkbox-label'>
      {{input type="checkbox" checked=controller.model.custom_fields.see_signatures}}
        See user signatures below posts
    </label>
    <label class='text-label'>
      {{input type="text" value=controller.model.custom_fields.signature_url}}
        Signature URL Image
    </label>
</div>
